# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Python cache
.pytest_cache/
.mypy_cache/

# Node (kasnije)
frontend/node_modules/
frontend/.next/